body {
  background-color: #666699;
  font-family: "Garamond", "Times New Roman", Times, serif;
}
#main {
  width: 60%;
  margin: auto;
  background-color: #f0f0f5;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 1px;
}
a:link {
  color: #59804d;
  text-decoration: none;
}
a:visited {
  color: #400080;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #8000ff;
}
a.raw {
  font-size: 75%;
}
h1 {
  font-variant: small-caps;
}
